.carousel .carousel-indicators {
  gap: 10px;
}

.carousel .carousel-indicators > button {
  width: 3px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.514);
  pointer-events: none;
}

.carousel .carousel-indicators button.active {
  background-color: rgb(255, 255, 255);
}
